.venv
./vector_db/descriptions
./vector_db/vectorstore
./web_crawler_and_scraper/logs
./web_crawler_and_scraper/scraped_files
./web_crawler_and_scraper/formatted_files
./checkpoint.txt
*__pycache__
./experiments
.env