.env
__pycache__
__pycache__/
.venv

*/formatted_files/*
*/scraped_files/*
web_crawler_and_scraper/scraped_files/*
*/logs/*
*/filtered/*
shared_data/*
shared_data/structured_data_csv/*
*checkpoint*

main.py
docker-compose.yml
Dockerfile
.dockerignore
RAG/
vector_db/